*.o
*.a

Release/
Release+Asserts/
Debug/
Debug+Asserts/

Makefile.config
config.log
config.status
include/klee/Config/config.h
stp/AST/ASTKind.cpp
stp/AST/ASTKind.h
stp/Makefile.common
stp/include/

test/*/Output/
test/*/*/Output/
test/site.exp
test/testrun.log
test/testrun.sum

*.pb.h
*.pb.cc

klee-last
klee-out-*

core
vgcore.*

*.dot
*.pdf
*.png
*.eps

*.bc
*.pyc
*.ll
*~

cloud9.tar.gz
!test/Stdc++/libstdc++.a
