*.o
*.a

Release/
Debug/

Makefile.config
config.log
config.status
include/klee/Config/config.h
stp/Makefile.common
stp/include/

test/*/Output/
test/*/*/Output/
test/site.exp
test/testrun.log
test/testrun.sum

*.pb.h
*.pb.cc

klee-last
klee-out-*

core
vgcore.*

*.dot
*.pdf
*.png
*.eps

*.ll
*.bc
*.pyc
*~

cloud9.tar.gz